@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero-bg--gradient {
    background: radial-gradient(circle at 3% 25%, #002853 0, #040c18 25%);
    /* background-size: cover; */
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .possibility-bg--gradient {
    background: radial-gradient(circle at 30% -100%, #042c54 25%, #042c54 85%, #1b78de 100%);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
